h2{
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}
.btn{
    box-shadow: none !important;
    background: black;
    color: white;
    font-size: 12px;
    margin-top: 15px;
}
 
  h3{
      font-weight: 500;
  }
  img{
    display: block;
    width: 100%;
    height: 190px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  i{
      color: #FFA500;
  }

   @media (max-width:767px) {
    .projects-horizontal h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .projects-horizontal .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 10px;
  }
  
  .projects-horizontal .projects {
    padding-bottom:40px;
  }
  
  .projects-horizontal .item {
    padding-top:60px;
    min-height:160px;
  }
  
  @media (max-width:767px) {
    .projects-horizontal .item {
      padding-top:40px;
      min-height:160px;
    }
  }
  
  .projects-horizontal .item .name {
    font-size:15px;
    font-weight:600;
    margin-top:10px;
    margin-bottom:15px;
    color:inherit;
  }
  
  @media (max-width:991px) {
    .projects-horizontal .item .name {
      margin-top:22px;
    }
  }
  
  .projects-horizontal .item .description {
    font-size:12px;
    margin-bottom:0;
  }

 
  