
  .box-side1{
      background-color: #F9682F;
  }
  .box-side-2{
      background-color: #F2F1F7;
  }
  #come{
    margin: 155px 0 0 0;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
input::-webkit-input-placeholder { color: rgb(184, 180, 180); opacity: 0.8;}
input:-moz-placeholder { color: white;  opacity: 0.1;}
input::-moz-placeholder { color: white; opacity: 0.1;}
input:-ms-input-placeholder { color: white; opacity: 0.1;}
.form-control{
    box-shadow: none;
    border: 1px solid #fdc5af;
    padding: 9px 30px 9px;
    font-size: 12px;
    opacity: 2.7;
}
.form-control:focus{
  border:1px solid #F9682F;
}
h2{
    font-size: 25px;
    color: #F9682F;
    /* color: tomato; */
}
 /* button styling */
.btn{
    margin: 10px 0px 17px 9px;
    padding: 5px 20px 5px;
    /* height: 35px; */
    border-radius: 3px;
    background-color: #F9682F;
   
    font-weight: 500;
    outline: none;
    transition: all 1s 0s;
    color: white;
}
.btn:hover{
    background-color: black;
    transition: all 0.5s 0s;
}
.acc-text{
    margin: 0px 0px 18px 9px;
    font-weight: lighter;
    /* font-family: ; */
    /* font-size: ; */
}
.sign a {
    color: #F9682F !important;
    font-weight: bold;
}