/* styling for headers */
#header {
    /* top: 50px; */
    height: 70px;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: rgba(19, 18, 17, 0.85);
  }
  
  #header.header-transparent {
    background: transparent;
  }
/* headers */

#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 37, 34, 0.8);
    /* overflow: hidden; */
    padding: 0;
  }
  
  #hero .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #hero .carousel-item::before {
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .carousel-content {
    /* text-align: center; */
    margin: 0 50px ;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    margin: 0 80px ;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .stated-btn{
    display: inline-block;
    padding: 17px;
    width: 200px;
    border-radius: 2px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 102px;
    color: #F9682F;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background-color: white;
    font-weight: 500;
    font-size: 14px;
  }
  
  .stated-btn2{
    display: inline-block;
    /* padding: 10px 80px 20px; */
    padding: 17px;
    width: 200px;
    border-radius: 2px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 102px;
    color: white;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    /* border: 2px solid #F9682F; */
    background-color: #F9682F;
    font-weight: 500;
    font-size: 14px;
  }
  .stated-btn:hover{
    background-color: #F9682F;
    color: white;
  }
  .stated-btn2:hover{
    background-color: #fff;
    color: #F9682F;
  }
 
  
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
  }
  
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-left,
  #hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 2;
    transition: 0.5s;
  }
  
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
    opacity: 1;
  }
  
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 46px;
    line-height: 1;
    width: auto;
    height: auto;
    background: rgba(250, 248, 248, 0.1);
    border-radius: 50px;
    padding: 10px;
    transition: 0.3s;
    color: white;
  }
  
  /* #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
  }
   */
  #hero .carousel-indicators li {
    cursor: pointer;
  }
  
  #hero .btn-menu, #hero .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid #ffb03b;
  }
  
  #hero .btn-menu:hover, #hero .btn-book:hover {
    background: #ffb03b;
    color: #fff;
  }
  .carousel-item-1{
      background: url('../../assets/pics/woman.png');
      background-size: cover;
      background-attachment: fixed;
      /* background-position: 10px 20px 3px; */
  }
  .carousel-item-2{
    background: url('../../assets/pics/woman.png');
    background-size: cover;
    background-attachment: fixed;
    /* background-position: 10px 20px 3px; */
}
.carousel-item-3{
  background: url('../../assets/pics/woman.png');
  background-size: cover;
  background-attachment: fixed;
  /* background-position: 10px 20px 3px; */
}
.carousel-indicators  li{
  border-radius: 100%;
  height: 10px;
  width: 10px;
  background-color:#F9682F !important;
  margin-bottom: 40px;
  border: solid 4px white;
 
}
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 20px;
      margin: 0 auto 30px auto;
    }
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 50%;
      
    }
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 8%;
    }
  }

  .md-dialog /deep/.md-dialog-container {
    max-width:640px;
    border-radius: 0px;
    /* max-height: 93vh; */
    margin-top: 75px;
    /* overflow-y: hidden; */
    max-height: 100vh !important;
    /* padding: 40px 30px 20px; */
    /* background-color: red; */
  }
