.vv{
    color: red;
}

   /* side 1 styling */
.side-1{
       background-color: #F9682F !important;
}

  /* styling foe the input both mobile and the desktop */

  input::-webkit-input-placeholder { color: rgb(184, 180, 180); }
  input:-moz-placeholder { color: white; }
  input::-moz-placeholder { color: white; }
  input:-ms-input-placeholder { color: white }
  .form-control{
        box-shadow: none;
        border: 1px solid #fdc5af;
        padding: 25px 30px 25px;
  }
  .form-control:focus{
      border:1px solid #F9682F;
  }
#keep{
    color: #F9682F;
    margin-bottom: 20px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.forget{
    color: #F9682F !important;
    margin: 0 0 20px 66px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    
}
.sign{
    margin: 20px;
    margin-bottom: 66px;
}
.sign a {
    color: #F9682F !important;
    font-weight: bold;
}
#come{
    margin: 155px 0 0 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

/* button styling */
.btn{
    margin: 0 0 17px 130px;
    padding: 10px 50px 10px;
    /* height: 35px; */
    border-radius: 3px;
    background-color: #F9682F;
   
    font-weight: 500;
    outline: none;
    transition: all 1s 0s;
    color: white;
}
.btn:hover{
    background-color: black;
    transition: all 0.5s 0s;
}
.fa-times{
    font-size: 17px !important;
    font-weight: 300 !important;
    color: #F9682F;
}
.md-dialog /deep/.md-dialog-container {
    max-width:768px;
    border-radius: 0px;
    /* padding: 40px 30px 20px; */
    /* background-color: red; */
  }
  @media (max-width: 600px){
    .btn{
        margin: 0 0 17px 25px;
        padding: 10px 50px 10px;
        /* height: 35px; */
        border-radius: 3px;
        background-color: #F9682F;
       
        font-weight: 500;
        outline: none;
        transition: all 1s 0s;
        color: white;
    }
}
.md-progress-bar{
    background-color: #fdbea5 !important;
}
.md-progress-bar /deep/.md-progress-bar-fill{
  background-color: #F9682F !important;
}
.md-progress-bar /deep/.md-progress-bar-fill:after{
  background-color: #F9682F !important;
}
.md-progress-bar /deep/.md-progress-bar-track:after{
  background-color: #F9682F !important;
}